.page-container.glamour-nails {
  $titleColor: #300319;
  $offset-white: #fef7fb;
  background-image: linear-gradient(
    180deg,
    rgba(252, 207, 229, 0) 0%,
    rgba(252, 207, 229, 0.94) 100%
  );
  color: #3a041e;
  font-style: normal;
  font-size: 1.5rem;

  ul {
    list-style: disc;
    padding-left: 2rem;
  }

  h1 {
    color: $titleColor;
  }

  .stats {
    gap: 1rem;
    .stat {
      margin: 1rem;
      border-radius: 10px;
      background: #cfe4fc;
      box-shadow: 4px 4px 0px 0px #ef69b0;
    }
  }

  .introduction-layer {
    position: relative;
    padding-top: 80px;

    .introduction {
      position: relative;
      background: url("/assets/glamourNails/background-nails2.png") no-repeat;
      background-size: auto 100%;
      background-position: calc(100% - 7rem) calc(100%);
    }
  }

  .content-example {
    background-color: $offset-white;
  }

  .layer-1 {
    @extend .layer;
  }

  .layer-2 {
    @extend .layer;
  }

  .layer-3 {
    @extend .layer;
  }

  .layer-3 {
    @extend .layer;
  }

  .layer-4 {
    @extend .layer;
  }

  .layer-5 {
    @extend .layer;
    background-color: $offset-white;
  }

  .layer-6 {
    @extend .layer;
  }

  .layer-7 {
    @extend .d-grid;
    .content-example {
      background-color: transparent;
    }
  }

  .next-case-study {
    background: #fa427a;
  }

  .side-by-side-images {
    @extend .d-grid;
    margin-top: 5rem;
    row-gap: 2rem;
    img {
      width: 100%;
    }
  }

  .website-builder-analysis {
    width: 100%;
  }

  .design-rational {
    list-style-type: decimal;
  }

  .bad-listing {
    padding-left: 0;
    li {
      @extend .d-flex;
      background: url(/assets/RedX.png) no-repeat left top;
      list-style: none;
      padding-left: 4rem;
      min-height: 60px;
      align-items: center;
    }
  }
}
