.page-container.youtube-music {
  $titleColor: #ffffff;
  $offset-white: #ffffff;
  background: #030303;
  color: #ffffff;
  font-style: normal;
  font-size: 1.5rem;

  ul {
    list-style: disc;
    padding-left: 2rem;
  }

  .layer {
    padding: 3rem 0;

    .intro {
      margin: 3rem 0;
    }
  }

  h1 {
    color: $titleColor;
  }

  .music-mobile-app-ex {
    background-color: $offset-white;
  }

  .features-container {
    background-color: $offset-white;
    h1 {
      color: #030303;
    }
    color: #030303 !important;

    .results-container {
      padding: 3rem;
    }

    ul {
      margin: 2rem 0;

      &.results {
        li {
          margin-bottom: 1rem;
        }
      }

      &.testing {
        list-style-type: decimal;
      }

      li {
        margin-bottom: 0.2rem;
      }
    }

    .feature-example {
      margin-top: 1.5rem;
      img {
        max-width: 200px;
      }
    }
  }
}
