.stats {
  @extend .d-grid;
  text-align: center;
  margin: 0 0 $inbetween_text 0;
  .stat {
    padding: 0.5rem;
    min-width: 22%;
    h4 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  }
}
