.before-after-container {
  margin: 3rem;
  .before-after {
    @extend .d-grid;
    grid-template-columns: 1fr 0.2fr 1fr !important;
    margin-bottom: 3rem;

    .sect {
      @extend .d-flex;
      flex-direction: column;
      p {
        margin-bottom: 3rem;
      }
      div {
        text-align: center;
        margin-top: auto;
      }
      img {
        max-width: 200px;
        width: 100%;
      }
      &.arrow {
        align-self: center;
      }
    }
  }
}
