.content-example {
  padding: $sub_section_margin 4rem $sub_section_margin 4rem;

  div {
    width: fit-content;
    margin: auto;
    img,
    p,
    video {
      width: 100%;
    }

    &.desktop {
      img,
      p,
      video {
        max-width: 1200px;
      }
    }

    &.mobile {
      img,
      p,
      video {
        max-width: 300px;
      }
    }
  }

  p {
    color: #000;
    font-size: 1.15rem;
    font-weight: 600;
    margin-top: 0.2rem;
    margin-bottom: 0;
  }
}
