.back-button {
  a {
    @extend .d-flex;
    position: absolute;
    cursor: pointer;
    transition: color $default_transition ease;
    top: -9.6px;
    z-index: 1000;
    color: var(--initials-color);
    align-items: center;
    font-size: 16px;

    &:hover {
      div {
        transform: translateX(-0.5rem);
      }
    }

    div {
      position: relative;
      top: 2px;
      margin-right: 3px;
      transition: transform $default_transition ease;
    }

    path {
      transition:
        fill $default_transition ease-in,
        stroke $default_transition ease-in;
      fill: var(--initials-color);
      stroke: var(--initials-color);
    }
  }
}
