header {
  --txt-color: var(--body-text-color);
  --txt-hover-color: var(--color-theme);
  --header-bg-color: #000;
  height: 60px;
  position: fixed;
  right: 0;
  z-index: 1000;
  width: 100%;
  background: var(--header-bg-color);

  .nav-container {
    height: 100%;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
  }

  ul.desktop-ul {
    @extend .d-flex;
    margin: 0.5rem 12rem;
    border-radius: 2rem;
    height: inherit;
    align-items: center;
    justify-items: center;
    background-color: var(--color-theme);
    transition: background-color $default_transition ease-out;
    width: fit-content;
    text-align: center;
    box-shadow: 0px 4px 10px 0px #00000040;
    margin-left: 14rem;

    &.none {
      display: none;
    }

    &.gradient-background {
      background: linear-gradient(var(--header-gradient-background-color));
    }

    &.solid-background {
      background: var(--header-background-color);
    }

    @include lg-breakpoint {
      display: none;
    }

    a {
      color: var(--txt-color);
      font-size: 16px;
      margin: 0 1.5rem;
      position: relative;

      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.3rem;
        width: 100%;
        height: 2px;
        background-color: var(--txt-color);
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
      }
    }
  }

  .hamburger-nav {
    z-index: 9998;
    position: fixed;
    width: 100%;

    &.none {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }

    .hamburger-button {
      @extend .d-flex;
      align-items: center;
      justify-content: center;
      outline: none;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 0.5rem;
      right: 0;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background: transparent;

      path {
        stroke: var(--initials-color);
      }
    }

    .background {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      transition: background-color $default_transition ease-out;

      &.gradient-background {
        background: linear-gradient(var(--header-gradient-background-color));
      }

      &.solid-background {
        background: var(--header-background-color);
      }
    }

    ul {
      padding: 25px;
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 50px;
      li {
        margin-bottom: 0.5rem;
        a {
          width: 100%;
          display: block;
          padding: 0.5rem;
          color: inherit;
          color: var(--txt-color);
          text-align: center;
          font-size: 2rem;

          &:hover {
            &::after {
              transform: scaleX(1);
            }
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -0.3rem;
            width: 100%;
            height: 2px;
            background-color: var(--txt-color);
            transform: scaleX(0);
            transform-origin: center;
            transition: transform 0.3s ease;
          }
        }
      }
    }
  }
}
