.name-initials {
  path {
    transition:
      fill $default_transition ease-in,
      stroke $default_transition ease-in;
    fill: var(--initials-color);
    stroke: var(--initials-color);
  }

  &.white-fill {
    path {
      fill: transparent;
      stroke: #ffffff;
    }
  }

  &.fade-in-initials {
    path {
      fill: transparent;
    }
  }
}
