.name-initials {
  --path-fill: var(--initials-color);
  transform: scale(0.9);

  path {
    transition:
      fill $default_transition ease-in,
      stroke $default_transition ease-in;
    fill: var(--path-fill);
    stroke: var(--path-fill);
  }

  &.white-fill {
    path {
      fill: transparent;
      stroke: #ffffff;
    }
  }

  &.fade-in-initials {
    path {
      fill: transparent;
    }
  }

  @include lg-breakpoint {
    transform: scale(0.7);
  }
}
