@keyframes initials-sale-in {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(2);
  }
}

@keyframes move-initials {
  0% {
    transform: translate(-50%, -50%) scale(2) rotate(0);
    left: 50%;
    top: 50%;
  }
  12.5% {
    transform: rotate(-45deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  37.5% {
    transform: rotate(-135deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  62.5% {
    transform: rotate(-225deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  87.5% {
    transform: rotate(-315deg);
  }
  100% {
    top: 1.25rem;
    left: 4rem;
    transform: translate(auto, auto) scale(1) rotate(-360deg);
  }
}

@keyframes move-initials-2 {
  0% {
    transform: translate(-50%, -50%) scale(2) rotate(0);
    left: 50%;
    top: 50%;
  }
  12.5% {
    transform: rotate(-45deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  37.5% {
    transform: rotate(-135deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  62.5% {
    transform: rotate(-225deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  87.5% {
    transform: rotate(-315deg);
  }
  100% {
    top: 1.25rem;
    left: calc(24px / $default_font_size) * 1rem;
    transform: translate(auto, auto) scale(1) rotate(-360deg);
  }
}

.top-left-screen-container {
  position: fixed;
  width: 100%;
  height: 60px;
  max-width: 1400px;
  left: 50%;
  transform: translateX(-50%);

  &.height-100p {
    height: 100%;
  }

  &.height-60p {
    height: 60px;
  }

  &.z-index-max {
    z-index: 2000;
  }
}

.top-left-container {
  --left-padding: 4rem;
  position: fixed;
  top: 1.25rem;
  z-index: 1001;
  transform: rotate(-360deg);
  white-space: nowrap;
  padding-left: 4rem;

  @include lg-breakpoint {
    padding-left: calc(24px / $default_font_size) * 1rem;
  }

  &.flip {
    .top-left-front {
      transform: rotateX(
        180deg
      ); /* Rotate front div when .flip class is added */
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    .top-left-back {
      transform: rotateX(0deg); /* Rotate back div when .flip class is added */
      opacity: 1;
      visibility: visible;
    }
  }

  &.fade-in-initials {
    animation: initials-sale-in 800ms ease-out forwards;
    top: 50%;
    left: 50%;
    padding: 0;
  }

  &.move-initials {
    pointer-events: none;
    padding: 0;
    animation: move-initials 800ms ease-out forwards;

    @include lg-breakpoint {
      animation: move-initials-2 800ms ease-out forwards;
    }
  }

  .top-left-front {
    position: relative;
    z-index: 2;
    backface-visibility: hidden; /* Hide the back face when flipping */
    opacity: 1;
    visibility: visible;
    transition:
      transform 0.5s ease,
      visibility $default_transition ease,
      opacity $default_transition ease; /* Add a smooth transition for the transform property */
  }

  .top-left-back {
    position: relative;
    z-index: 1;
    top: -2rem;
    transform: rotateX(180deg); /* Initially hidden by flipping */
    transition:
      transform 0.5s ease,
      visibility $default_transition ease,
      opacity $default_transition ease; /* Add a smooth transition for the transform property */
    backface-visibility: hidden; /* Hide the back face when flipping */
    opacity: 0;
    visibility: hidden;
  }
}
