.container {
  @extend .h-inherit;
  width: 100%;
  margin: 0 auto;
  padding-left: 4rem;
  max-width: 1400px;
  position: relative;
  height: inherit;
  padding-right: 1rem;

  @include lg-breakpoint {
    padding-left: 1rem;
  }
}
