.page-container {
  padding-bottom: 6rem;
  .decimal-listing {
    list-style: decimal !important;
    padding-left: 2rem;
  }

  .margin-0 {
    margin: 0 !important;
  }

  .margin-b-0 {
    margin-bottom: 0 !important;
  }

  .margin-top-sub {
    margin-top: $sub_section_margin !important;
  }

  .margin-b-sub {
    margin-bottom: $sub_section_margin !important;
  }

  .margin-b-between {
    margin-bottom: $inbetween_text !important;
  }

  .margin-t-between {
    margin-top: $inbetween_text !important;
  }

  .padding-b-sub {
    padding-bottom: $sub_section_margin !important;
  }

  .padding-t-sub {
    padding-top: $sub_section_margin !important;
  }

  .padding-sub {
    padding: $sub_section_margin !important;
  }

  p,
  ul {
    margin: 0 0 $inbetween_text 0;
  }

  .blue-link {
    color: #0073ca;
    text-decoration: underline;
  }

  .next-case-study {
    @extend .d-flex;
    color: #ffffff;
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 10px;
    font-size: 1.25rem;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;

    div {
      left: 1.25rem;
      position: relative;
      top: -0.3rem;
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      div {
        transform: translateX(1rem);
      }
    }

    &.pointer-none {
      pointer-events: none;
    }

    svg {
      width: 1.1rem;
      fill: currentcolor;
      vertical-align: middle;
    }
  }

  h2 {
    margin: $sub_section_margin 0 $inbetween_text 0;
  }

  h1 {
    font-family: Silka;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    position: relative;
    z-index: 15;
    margin: $new_section_margin 0 $inbetween_text 0;
  }
}
