.page-container {
  .decimal-listing {
    list-style: decimal !important;
    padding-left: 2rem;
  }

  p {
    margin: 1rem 0;
  }
  .margin {
    margin: 2rem 0;
  }

  .marginy-b {
    margin-bottom: 2rem;
  }

  .marginy-t {
    margin-top: 2rem;
  }
  .blue-link {
    color: #0073ca;
    text-decoration: underline;
  }

  .next-case-study {
    @extend .d-flex;
    color: #ffffff;
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 10px;
    font-size: 1.25rem;
    max-width: 400px;
    width: 100%;
    margin: 6rem auto;

    div {
      left: 1.25rem;
      position: relative;
      top: -0.3rem;
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      div {
        transform: translateX(1rem);
      }
    }

    &.pointer-none {
      pointer-events: none;
    }

    svg {
      width: 1.1rem;
      fill: currentcolor;
      vertical-align: middle;
    }
  }

  h1 {
    font-family: Silka;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    z-index: 15;
  }
}
