#wrapper {
  @extend .h-inherit;
  transition: background-color $default_transition ease-out;
  position: relative;

  &.bg-black {
    background: #0e0e0e !important;
  }

  &.hidden {
    overflow: hidden;
  }

  &.auto {
    overflow: auto;
  }

  &.solid-background {
    background: var(--background-color);
  }

  &.gradient-background {
    background: linear-gradient(var(--background-gradient-color));
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background: linear-gradient(var(--blur-wrapper-background));
    filter: blur(2rem);
    pointer-events: none;
  }
}
