// Arrow Next
@keyframes fade-up {
  0% {
    -webkit-transform: translate(-50%, 100%);
    -moz-transform: translate(-50%, 100%);
    -o-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    visibility: visible;
    opacity: 1;
  }
}

.intro-arrow-next {
  @extend .d-flex;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #363636;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  bottom: 1.625rem;
  left: 50%;
  transform: translate(-50%, 0);
  transition: transform 0.3s linear;

  &.fade-up {
    animation: fade-up 1000ms;
  }

  @include lg-breakpoint {
    bottom: 8rem;
  }

  svg {
    @include lg-breakpoint {
      transform: rotate(-90deg);
    }
  }
}
