/* MOVING TEXT UP AND DOWN BLOCK */
@keyframes moveHomeTextDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(60px);
    opacity: 0;
  }
  55% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveHomeTextUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
    opacity: 0;
  }
  55% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* MOVING TEXT UP AND DOWN BLOCK */

/* MOVING TEXT LEFT AND RIGHT BLOCK */
@keyframes moveHomeTextRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(60px);
    opacity: 0;
  }
  55% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveHomeTextLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-60px);
    opacity: 0;
  }
  55% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.parent-sections {
  @extend .d-flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100%;

  @include lg-breakpoint {
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    align-items: baseline;
  }
}

.section {
  @extend .d-flex;
  padding-right: 6rem;
  position: relative;
  flex-direction: row;
  gap: 1.5rem;
  margin: 1rem 0;
  scroll-snap-align: center;
  z-index: 2;
  justify-content: flex-end;

  &:first-child {
    margin-top: 100vh;
  }

  &:last-child {
    margin-bottom: 100vh;
  }

  @include lg-breakpoint {
    flex-direction: column-reverse;
    padding-top: 10rem;
    height: auto;
    padding-right: 0;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
    flex: 0 0 100%;
  }

  &.fade-in {
    animation: fade-in 1000ms forwards;
  }

  .section-info {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(88% - 500px);

    @include lg-breakpoint {
      padding: 0;
      min-height: auto;
      margin-top: 2rem;
      position: relative;
      width: 100%;
    }
  }

  .section-info-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 390px;

    transition:
      top 0.3s ease,
      left 0.3s ease,
      visibilty $default_transition linear,
      opacity $default_transition linear;
    --animation-seconds: 1000ms;

    &.animate-up {
      animation: moveHomeTextUp var(--animation-seconds) ease-in-out forwards;
      .section-button {
        pointer-events: none;
      }
    }

    &.animate-down {
      animation: moveHomeTextDown var(--animation-seconds) ease-in-out forwards;
      .section-button {
        pointer-events: none;
      }
    }

    &.animate-right {
      animation: moveHomeTextRight var(--animation-seconds) ease-in-out forwards;
      .section-button {
        pointer-events: none;
      }
    }

    &.animate-left {
      animation: moveHomeTextLeft var(--animation-seconds) ease-in-out forwards;
      .section-button {
        pointer-events: none;
      }
    }
  }

  .section-title {
    font-family: playfairDisplay, silka, serif;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    color: var(--body-text-color);
  }

  .section-para {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    color: var(--body-text-color);
  }

  .section-button {
    @extend .d-flex;
    color: #ffffff;
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 10px;
    font-size: 1.25rem;
    width: 16.56rem;
    margin-top: auto;

    div {
      left: 1.25rem;
      position: relative;
      margin-top: -0.1rem;
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      div {
        transform: translateX(1rem);
      }

      i {
        left: 0.5rem;
      }
    }

    svg {
      width: 1.1rem;
      fill: currentcolor;
      vertical-align: middle;
    }

    &.solid-background {
      background: var(--color-theme);
    }

    &.gradient-background {
      background: linear-gradient(var(--button-gradient-color));
    }

    &.box-shadow {
      box-shadow: var(--button-box-shadow);
    }

    &.disable-pointer {
      pointer-events: none;
    }

    @include lg-breakpoint {
      margin-top: 1rem;
    }
  }

  .media-container {
    display: flex;
    align-items: center;
    position: relative;

    &.overlay::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: #1c1615cd;
      z-index: 5;
    }

    &::before {
      transition: background-color $default_transition ease;
    }

    @include lg-breakpoint {
      flex-direction: row;
    }

    .section-media {
      border: 4px solid var(--color-theme);
      border-radius: 10px;
      position: relative;

      transition:
        top 0.3s ease,
        transform 0.5s ease;

      @include lg-breakpoint {
        max-width: 31.25rem;
        max-height: 25rem;
        width: 100%;
      }
    }
  }

  .section-media.custom-border-color {
    border: 4px solid var(--image-border-color);
  }
}
