// Initialize css with reset and constants
// (keyframes that are global to the application)
@import "./inits/reset";
@import "./inits/variables";
@import "./inits/fonts";
@import "./inits/reusableClasses";
@import "./inits/keyframes";

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
}

::-webkit-scrollbar-corner {
  background: transparent;
}

html {
  font-size: $default_font_size;

  @include lg-breakpoint {
    font-size: $default_font_size - 4px;
  }

  @include md-breakpoint {
    font-size: $default_font_size - 6px;
  }

  @include height-breakpoint-lg {
    font-size: $default_font_size - 1px;
  }

  @include height-breakpoint-md {
    font-size: $default_font_size - 2px;
  }

  @include height-breakpoint-sm {
    font-size: $default_font_size - 3px;
  }
}

body {
  font-weight: 500;
  line-height: 1.3;
  text-align: left;
  color: white;
  font-family: silka, serif, Helvetica, sans-serif !important;
  position: relative;
  height: 100vh;
  font-style: normal;
  overflow: hidden;
}

@import "./components/container";
@import "./components/rootWrapper";
@import "./components/loadBar";
@import "./components/pageContainer";

@import "./components/caseStudyCommons/introduction";
@import "./components/caseStudyCommons/common";
@import "./components/caseStudyCommons/rowCells";
@import "./components/caseStudyCommons/beforeAfter";
@import "./components/caseStudyCommons/sideBySideImg";
@import "./components/caseStudyCommons/contentExample";
@import "./components/caseStudyCommons/brandDetails";

// top bar components
@import "./components/topBar/backButton";
@import "./components/topBar/initials";
@import "./components/topBar/header";
@import "./components/topBar/topLeft";

// home content
@import "./components/home/homeContent";
@import "./components/home/pillsNav";
@import "./components/home/arrowNext";

// pages
@import "./pages/glamourNails";
@import "./pages/youtubeMusic";
@import "./pages/pursuit";
@import "./pages/contact";
@import "./pages/about";
@import "./components/glamourNails/stats";
